{% extends 'base.html.twig' %}

{% block title %}TypeReception index{% endblock %}

{% block body %}
    <h1>TypeReception index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_reception in type_receptions %}
            <tr>
                <td>{{ type_reception.id }}</td>
                <td>{{ type_reception.type }}</td>
                <td>
                    <a href="{{ path('app_type_reception_show', {'id': type_reception.id}) }}">show</a>
                    <a href="{{ path('app_type_reception_edit', {'id': type_reception.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_reception_new') }}">Create new</a>
{% endblock %}
