{% extends 'base.html.twig' %}

{% block title %}Capitaine index{% endblock %}

{% block body %}
    <h1>Capitaine index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>Telephone</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for capitaine in capitaines %}
            <tr>
                {% if capitaine is not null %}
                    <td>{{ capitaine.nom }}</td>
                    <td>{{ capitaine.prenom }}</td>
                    <td>{{ capitaine.mail }}</td>
                    <td>{{ capitaine.telephone }}</td>
                    <td>
                        <a href="{{ path('app_capitaine_show', {'id': capitaine.id}) }}">show</a>
                        <a href="{{ path('app_capitaine_edit', {'id': capitaine.id}) }}">edit</a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_capitaine_new') }}">Create new</a>
{% endblock %}