{# templates/equipe/_form.html.twig #}
{{ form_start(form, {'attr': {'class': 'form'}}) }}
<div class="form-group">
    {{ form_label(form.nom_equipe) }}
    {{ form_widget(form.nom_equipe, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.numero_equipe) }}
    {{ form_widget(form.numero_equipe, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.club) }}
    {{ form_widget(form.club, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="text-end">
    <button type="submit" class="btn btn-success">{{ is_edit ? 'Mettre à jour' : 'Créer' }}</button>
</div>
{{ form_end(form) }}
