{% extends 'base.html.twig' %}

{% block title %}Reception index{% endblock %}

{% block body %}
    <h1>Reception index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>HoraireDebut</th>
                <th>HoraireFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reception in receptions %}
            <tr>
                <td>{{ reception.jour.getJour() }}</td>
                <td>{{ reception.horaireDebut ? reception.horaireDebut|date('H:i') : '' }}</td>
                <td>{{ reception.horaireFin ? reception.horaireFin|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_reception_edit', {'id': reception.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reception_new') }}">Create new</a>
{% endblock %}
