{% extends 'base.html.twig' %}

{% block title %}Associer Joueur à Equipe{% endblock %}

{% block body %}
    <h1>Associer {{ joueur.nom }} {{ joueur.prenom }} à une Équipe</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Associer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_joueur_index') }}">Retour à la liste</a>
{% endblock %}
