{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <h1>Joueur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ joueur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ joueur.prenom }}</td>
            </tr>
            <tr>
                <th>Numreo_licence</th>
                <td>{{ joueur.numreoLicence }}</td>
            </tr>
            <tr>
                <th>Classement_simple</th>
                <td>{{ joueur.classementSimple.value }}</td>
            </tr>
            <tr>
                <th>Cpph_simple</th>
                <td>{{ joueur.cpphSimple }}</td>
            </tr>
            <tr>
                <th>Classement_double</th>
                <td>{{ joueur.classementDouble.value }}</td>
            </tr>
            <tr>
                <th>Cpph_double</th>
                <td>{{ joueur.cpphDouble }}</td>
            </tr>
            <tr>
                <th>Classement_mixtes</th>
                <td>{{ joueur.classementMixtes.value }}</td>
            </tr>
            <tr>
                <th>Cpph_mixtes</th>
                <td>{{ joueur.cpphMixtes }}</td>
            </tr>

            <tr>
                <th>Equipes</th>
                <td>
                    <ul>
                        {% for equipe in joueur.equipes %}
                            <li>{{ equipe.nomEquipe }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_joueur_index') }}">back to list</a>

    <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}">edit</a>

    {{ include('joueur/_delete_form.html.twig') }}
{% endblock %}
