

    {% extends 'base.html.twig' %}

 {% block title %}Modifier Club{% endblock %}

{% block body %}
    <h1>Modifier Club</h1>

    {{ form_start(formClub) }}
    {{ form_widget(formClub) }}

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(formClub) }}
    <a href="{{ path('app_club_index') }}">back to list</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}

