{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Club index</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Sigle</th>
                <th>Gymnase</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.nom }}</td>
                <td>{{ club.sigle }}</td>
                <td>{{ club.gymnase }}</td>
                <td>{{ club.adresse }}</td>
                <td>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}" class="btn btn-sm btn-info">Show</a>
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}" class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_club_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
