{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Club index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Sigle</th>
                <th>Gymnase</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.nom }}</td>
                <td>{{ club.sigle }}</td>
                <td>{{ club.gymnase }}</td>
                <td>{{ club.adresse }}</td>
                <td>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}">show</a>
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_club_new') }}">Create new</a>
{% endblock %}
